.bg{
    background-color: rgb(38, 43, 38);
    padding: 10px;
}
.dir{
    justify-content: center;
    display: flex;
    flex: column;
    font-size: 10px;
    font-weight: bold;
    
}
.menubar{
    height: 3vh;
    width: 3vw;
    padding: 10px;
}
.bar{
    background-color: rgb(240, 125, 93);
}
.fstbox{
    background-color: rgb(208, 241, 140);
    padding: 30px;
}
.img1{
    height: 50vh;
    width: 50vw;
}
.but{
    background-color: rgb(240, 125, 93);
    border: 0px;
    padding: 10px;
    color: white;
}
.sebox{
    background-color: rgb(208, 241, 140);
    margin: 2px;
    padding: 80px;
}
.imgs2{
    height: 15vh;
    width: 15vw;
    margin: 5px;
}
.imgs3{
    height: 15vh;
    width: 15vw;
    margin: 5px;
}
.dir2{
    display: flex;
}
.img3{
    height: 32vh;
    width: 20vw;
    margin: 5px;
}
.txtbox{
    background-color:rgb(240, 125, 93);
    padding: 20px;
}
.but2{
    background-color: rgb(240, 125, 93);
    border: 0px;
}